* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 1px dashed rgba(0, 0, 0, 0.3); /* debug purpose only */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #fafafa;
  color: #010101;
  padding: 1px;
}
header,
main {
  max-width: 960px;
  margin: 5px auto;
}
